binpacking
ConfigSpace
dask
geocube
geopandas
gputil
hpbandster
joblib
netCDF4
numpy
pandas
patool
pyarrow
pydantic
pyproj
python-decouple
PyYAML
rasterio
ray[tune]
requests
rioxarray
scikit-learn
StrEnum
tensorflow~=2.10
tqdm
xarray
